@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Appointment

<h1>
    Thank you for setting up an appointment! A confirmation email will be sent to @Model.Email.Length
    <br /> We'll see you @Model.TimeSlot.Date at @Model.TimeSlot.Time
</h1>