
@{
}
@*@model List<TimeSlot>*@

@model AppointmentsViewModel

<label>Week 1: Sunday, March 20th - Saturday March 26th, 2022</label>

<div page-blah="@Model.PageInfo" page-action="SignUpSlots" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-class-enabled="true" class=""></div>
<br />

<table class="table table-bordered table-striped">

    <thead>

        <tr>

            <td>Date</td>
            <td>Time</td>
            <td>Taken</td>

        </tr>

    </thead>

    <tbody>
        @foreach (var x in Model.TimeSlots)
        {
            <tr>

                <td>@x.Date</td>
                <td>@x.Time</td>


                @if (x.Taken == false)
                {
                    <td>
                        <a asp-controller="Home" asp-action="SignUpForm" asp-route-timeslotid="@x.TimeSlotId" class="btn btn-info btn-primary">Sign Up</a>
                    </td>
                }
                else
                {
                    <td>Taken</td>
                }
            </tr>
        }



    </tbody>
</table>


