@{
    ViewData["Title"] = "Tour Info";
}

<!--Header-->
<header id="tour-info" class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder text-white mb-3">More Information on Temple Tours</h1>
                    <p class="lead fw-normal text-muted mb-4">Special Accommodations and Tour Instructions are available down below</p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Sign Up for a Tour</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Tour Info section one-->
<section id="special-accommodations" class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="card-img" src="~/img/spanish_tours.jpg" alt="Spanish tours - family" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Special Accommodations</h2>
                <p class="lead fw-normal text-muted mb-0">Spanish-speaking tours are available, by request.</p>
                <br />
                <a class="btn btn-primary btn-lg" href="#scroll-target">Solicitar recorrido en Espanol</a>
            </div>
        </div>
    </div>
</section>
<!--Tour Info section two-->
<section id="general-tour-instructions" class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img src="~/img/rosewood.jpg" alt="Park on Rosewood" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">General Tour Instructions</h2>
                <p class="lead fw-normal text-muted mb-0">Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</p>
                <p class="lead fw-normal text-muted mb-0">  Dress casual, except on Sunday</p>
            </div>
        </div>
    </div>
</section>
<!--Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our Team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to you feeling the Spirit in the Temple</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/alicia_lane.jpg" alt="Alicia Lane" />
                    <h5 class="fw-bolder">Alicia Lane</h5>
                    <div class="fst-italic text-muted">Temple-Goer</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/jacob_donaldson.jpg" alt="Jacob Donaldson" />
                    <img  />
                    <h5 class="fw-bolder">Jacob Donaldson</h5>
                    <div class="fst-italic text-muted">Temple-Goer</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/jessica_kinghorn.jpg" alt="Jessica Kinghorn"/>
                    <h5 class="fw-bolder">Jessica Kinghorn</h5>
                    <div class="fst-italic text-muted">Temple-Goer</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/matt_perry.jpg" alt="Matt Perry"/>
                    <h5 class="fw-bolder">Matt Perry</h5>
                    <div class="fst-italic text-muted">Temple-Goer</div>
                </div>
            </div>
        </div>
    </div>
</section>