@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Appointments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Layton Temple Tours</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="Home/Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="Home/TourInfo">Tour Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="Home/SignUpSlots">Sign Up For Tours</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Appointments/Appointments">Appointments</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg-info text-white p-2">
            <div class="navbar-brand ml-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <span>Appointments</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row p-2">

                <div class="col">
                    @Body
                </div>

            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Layton Temple Tours</div></div>
            </div>
        </div>
    </footer>
</body>
</html>