@page "/appointments/appointments"
@page "/appointments"


@inherits OwningComponentBase

<table class="table table-bordered table-info">


    <thead>
        <tr>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email Address</th>
            <th>PHone Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sam</td>
            <td>13</td>
            <td>cool@coll.net</td>
            <td>435-320-1091</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
    </tbody>
</table>
@code {

}
