@page "/appointments"

@using Temple_Tour_SignUp.Pages.Appointments


<!DOCTYPE html>
<html>
<head>
    <title>Temple Appointment Scheduler</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />

</head>

<body>
    <component type="typeof(Routed)" render-mode="ServerPrerendered"/>
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>
